<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.5.1.min.js"></script>
    <title>Appa Box</title>
  </head>
  <body>
    <h1>General Config</h1>
    <form action="/set" method="post">
      <table>
        <tr>
          <td>Day Color</td>
          <td><input type="color" name="dayColor" value="<%= config.dayColor %>"></td>
        </tr>
        <tr>
          <td>Night Color</td>
          <td><input type="color" name="nightColor" value="<%= config.nightColor %>"></td>
        </tr>
        <tr>
          <td>Sun Rise Color</td>
          <td><input type="color" name="sunRiseColor" value="<%= config.sunRiseColor %>"></td>
        </tr>
        <tr>
          <td>Sun Set Color</td>
          <td><input type="color" name="sunSetColor" value="<%= config.sunSetColor %>"></td>
        </tr>
        <tr>
          <td>Day Peak <br> <b> 24 hr </b></td>
          <td><input type="number" name="dayPeak" value="<%= config.dayPeak %>"></td>
        </tr>
        <tr>
          <td>Sun Rise <br> <b> 24 hr </b></td>
          <td><input type="number" name="sunRise" value="<%= config.sunRise %>"></td>
        </tr>
        <tr>
          <td>Sun Set <br> <b> 24 hr </b></td>
          <td><input type="number" name="sunSet" value="<%= config.sunSet %>"></td>
        </tr>
        <tr>
          <td>Brightness <br> <b> (0-255) </b></td>
          <td><input type="number" name="brightness" value="<%= config.brightness %>"></td>
        </tr>
      </table>
      <input type="submit" name="submit" value="Set">
    </form>

    <hr>
    <h1>Time Config</h1>
    <p><b>Current time is:</b> <%= time %></p>
    <p>
      <i>You will have to use Chrome and will have to set a time before hitting sync!</i>
    </p>
    <form action="/settime" method="post">
      <input type="datetime-local" name="time" value="">
      <input type="submit" name="submit" value="Sync System Time">
    </form>

    <hr>
    <h1>System Control</h1>
    <p>
      <i>Wait 15 seconds or until the light on the back blinks 5 times and then goes solid.</i>
    </p>
    <form action="/shutdown" method="post">
      <input type="submit" name="submit" value="Shut system down">
    </form>

  </body>
</html>
